.navbar-button{
    background-color: #1E1C2A;
}
.navbar{
    color: #fff;
}

.nav-notification{
    width: 35px;
}
.nav-form{
    
}
.nav-input{
    padding: 12px 20px;
    padding-right: 170px;
    border-radius: 50px;
    border: 2px solid #1E1C2A;
    position: relative;
    background-color: #252837;
}
.nav-search{
    position: absolute;
    top: 38%;
    left: 53%;
}
.nav-email{
    color: #373742;
}