.aside{
    
    width:20%;
}
.main{
    width: 80%;
}
.container{
    margin: 0 auto;
    width: 1140px;
}

.navbar-button{
    background-color: #1E1C2A;
}
.navbar{
    color: #fff;
}

.nav-notification{
    width: 35px;
}
.nav-input{
    padding: 12px 20px;
    padding-right: 170px;
    border-radius: 50px;
    border: 2px solid #1E1C2A;
    position: relative;
    background-color: #252837;
}
.nav-search{
    position: absolute;
    top: 38%;
    left: 53%;
}
.nav-email{
    color: #373742;
}

.header-info, .header-about{
    background-color: #373742;
    padding: 20px;
    border-radius: 10px;
}

.green-span{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(35, 149, 35);
}
.yellow-span{
    
    
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(255, 187, 0);
}
.header-text, .header-title{
    color: white;
}
.header{
    padding-top: 50px;
}


.header-year--text, .header-text, .header-money,.header-budget{
    color: rgb(187, 184, 184);
text-align: center;
}
.header-btn{
    border: 2px solid #367E87;
    color: #367E87;
    border-radius: 5px;
    background-color: #373742;
}
.header-money{
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
}
.budget-btn{
    background-color: #5A6ACE;
    color: white;
    border-radius: 6px;
    border: 2px solid #373742;
    padding: 5px 12px;
    transition: 0.3s;
}
.budget-btn:hover{
    background-color: white;
    color: #5A6ACE;
    border: 2px solid #5A6ACE;
    font-weight: 600;
    
}

.aside{
    background-color: #252837;
    /* padding: 22px; */
    padding-top: 10px;
}
.main{
    /* margin-top: 10px; */
}
.aside-title{
    color: white;
    font-weight: 600;
}
.aside-menu{
    color: rgb(195, 191, 191);
    text-align: center;
}
.aside-logo{
    margin-bottom: 30px;
}
.aside-brand{
    object-fit: cover;
}
.menu-name{
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #535A7C;
}
.aside-link{
    margin: 20px 0px;
}
.span-circle{
    width: 12px;
    height: 12px;
    background-color: #5361BB;
    border-radius: 50%;
}
.aside-item{
    padding: 1px 30px;
}
.aside-item:hover{
    background-color: #1E1C2A;
}

.aside-info{
    color: white;
    font-size: 20px;
    width: 150px;
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;

/* Gray 5 */

color: #E0E0E0;
}
.aside-about{
    text-align: justify;
    padding: 15px;
    border: 2px dashed #353B66;
    border-radius: 5px;
    background-color: #1E1C2A;
    /* width: 200px; */
    margin-left: 10px;
    margin-right: 10px;
}
.aside-btn{
    border-radius: 20px;
    background-color: #1E1C2A;
    border: 2px solid #272843;
    color: #5361BB;
    font-weight: 600;
    padding: 2px 45px;
    padding-top: 5px;
    width: 200px;
    height: 50px;
    position: relative;
}
.aside-arrow{
    position: absolute;
    top: 45%;
    left: 83%;
    transform: translate(-50%,-50%);
}

.aside-footer--title{
    color:  #E0E0E0;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;

}
.aside-year, .aside-map{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    
    
    color: #535A7C;
}
.aside-footer{
    text-align: center;
}
.chart-img{
    width: 300px;
}
.header-blok{
    color: white;
}
.header-project{
    background-color: #373742;
    border-radius: 5px;
    padding:10px;
}
.circle-img{
    width: 75px;
}
.seven-num{
    color:#5A6ACE;
    font-size: 30px;
    font-weight: 600;
}
.header-foiz{
    color: #40B2B7;
}
.project-title{
    font-size: 14px;
}